<mat-card *ngFor="let school of education">
    <mat-card-header>
        <mat-card-title>
            <mat-icon class="card-title">school</mat-icon>
            <h1 class="card-title">{{school.name}}</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <mat-icon>location_on</mat-icon>
            {{school.location}}
            <mat-icon>date_range</mat-icon>
            {{school.startDate | date:'y MMM'}} - {{school.endDate ? (school.endDate | date:'y MMM') : 'Present'}}
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content >
        <p>{{school.degree}}</p>
        <p>{{school.gpa}} GPA</p>
    </mat-card-content>
</mat-card>
