<mat-card>
    <mat-card-header>
        <mat-card-title>
            <span class="about-name">{{data.name}}</span>
        </mat-card-title>
        <mat-card-subtitle class="job">
            <mat-icon>work</mat-icon> {{data.job}}
        </mat-card-subtitle>
        <mat-card-subtitle class="contact">
            <span><mat-icon>email</mat-icon> {{data.email}}</span>
            <span><mat-icon>location_on</mat-icon> {{data.location}}</span>
            <span *ngIf="data.phoneNumber">
                <mat-icon>call</mat-icon> {{data.phoneNumber}}
            </span>
        </mat-card-subtitle>
        <mat-card-subtitle>
            <span *ngIf="data.linkedIn">
                <a href="{{data.linkedIn}}">
                    <i mat-icon-button class="fa fa-linkedin"></i>
                </a>
            </span>
            <span *ngIf="data.gitHub">
                <a href="{{data.gitHub}}">
                    <i mat-icon-button class="fa fa-github"></i>
                </a>
            </span>
            <div style="padding-top:1vh">
                <a mat-raised-button color="primary"
                    href="https://drive.google.com/file/d/0B92Dn0Is3SzlMmx3TU13V09vd1U/view?usp=sharing">
                    PDF Resume
                </a>
            </div>
        </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        
    </mat-card-content>
</mat-card>
    