<div class="card-container">
    <mat-card *ngFor="let skillSet of data">
        <mat-card-header>
            <mat-card-title>
                <h2>{{skillSet.category}}</h2>
            </mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-chip-list class="mat-chip-list">
                <mat-chip *ngFor="let skill of skillSet.skills" selected="true">
                    {{skill.skill}} <span class="spacer"></span> {{skill.competence}}
                </mat-chip>
            </mat-chip-list>
        </mat-card-content> 
    </mat-card>
</div>