/* .main-card {
    text-align: center
} */
  
.tab-content {
    padding: 16px;
}

footer {
    text-align: center;
    color: rgba(255,255,255,.7);
    font-size: 1.2vh;
    font-family: Roboto,Helvetica Neue,sans-serif;
}